.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #fcfcfc;
  background: linear-gradient(135deg, #efefef55 25%, transparent 25%) -30px 0/ 60px 60px, linear-gradient(225deg, #efefef 25%, transparent 25%) -30px 0/ 60px 60px, linear-gradient(315deg, #efefef55 25%, transparent 25%) 0px 0/ 60px 60px, linear-gradient(45deg, #efefef 25%, #fcfcfc 25%) 0px 0/ 60px 60px;}

.category {
  flex: 1 1 0;
  margin: 10px;
  max-width: 300px;
  background: white;
  border-radius: 5px;
}

.categoryName {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.question {
  text-align: center;
  font-size: 40px;
  padding: 20px;
  background: rgb(247, 247, 247);
  margin: 30px;
  border-radius: 5px;
  box-shadow:rgba(180, 180, 180, .5) 0 0 20px;
  border: 1px solid lightgrey;
  font-family: 'Pacifico', cursive;
  cursor: pointer;
}

.question:nth-child(4) {
  font-size: 48px;
  color: #8c8c8ccc;
  text-shadow: #c7c7c7cc 2px 2px 0px;
}

.question:nth-child(5) {
  font-size: 56px;
  color: #ceb219;
  text-shadow: #d3c835cc 2px 2px 0px;
}

.question.used {
  background: none;
  border: none;
  box-shadow:none;
  color: lightgrey;
}

.card {
  min-width: 700px;
  max-width: 80vw;
  margin: 50px;
  min-height: 500px;
  background: white;
  border-radius: 5px;
  border: 2px solid lightgrey;
  font-size: 25px;
  display: flex;
  flex-direction: column;
}

.cardContent {
  flex-grow: 1;
  padding: 20px;
}

.cardButtons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.cardButtons button {
  padding: 5px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.configDialog {
  padding: 10px;
  background: white;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

.configDialogError {
  color: red;
}
